<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.healthtracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mercubuana.healthtracker.WebActivity"></activity>
        <activity
            android:name="com.mercubuana.healthtracker.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mercubuana.healthtracker.WaterDetailActivity"
            android:label="@string/update_water" />
        <activity
            android:name="com.mercubuana.healthtracker.WaterTambahActivity"
            android:label="@string/tambah_water" />
        <activity
            android:name="com.mercubuana.healthtracker.BmiDetailActivity"
            android:label="@string/update_bmi" />
        <activity
            android:name="com.mercubuana.healthtracker.BmiTambahActivity"
            android:label="@string/tambah_bmi" />
        <activity android:name="com.mercubuana.healthtracker.LoginActivity"></activity>
        <activity
            android:name="com.mercubuana.healthtracker.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name="com.mercubuana.healthtracker.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>